body {
    background: #69a8e3f5;
    font-family: 'Times New Roman', Times, serif;

}

a {}

.heading {
    text-align: center;
    font-weight: bold;


}

#location {
    color: white;
}

#temparature {
    text-align: center;
    font-weight: 250vw;
    font-size: 6vw;
    color: #FDB600
}

#current-temprature {
    margin-left: 0px;
}

#week {
    text-align: center;
    font-weight: 250vw;
    font-size: 6vw;
    background-color: #19A4E0;
    border-radius: 10px;
}

#week1 {

    background-color: #093649;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
}


/* #sunset {
    background-image: url('./../assets/sun.jpg');
    background-size: cover;
    background-position: center;
    min-height: 10vh;
} */
#forecast-now {
    background-image: url('./../assets/moon.jpg');
    background-size: cover;
    background-position: center;
    min-height: 10vh;
    color: white;
}

.txt-white {
    color: white;
}

#forecast-card .table th,
#forecast-card .table td {
    background-color: transparent;

}

#forecast-card .table td {
    text-align: end;
}


#city-forecast .table th,
#city-forecast .table td {
    background-color: transparent;

}


#side-conrtainer {
    background-color: #50505042;
    box-shadow: 10px, 0px, 8px, 8px, rgb(0, 0, 0);
}

label#theme {
    width: 80px;
    height: 40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

label#theme:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

input#darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}

input:checked+label#theme {
    background: #242424;
}

input:checked+label#theme:after {
    left: 75px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #6f6666);
}

label#theme,
label#theme:after {
    transition: 0.3s;
}

label#theme:active:after {
    width: 70px;
}

label#theme img {
    position: absolute;
    width: 30px;
    top: 5px;
    z-index: 100;
}

label#theme img.sun {
    left: 5px;
    fill: #fff;
    transition: 0.3s;
}

label#theme img.moon {
    left: 45px;
    fill: #7e7e7e;
    transition: 0.3s;
}

input:checked+label#theme img.sun {
    fill: #7e7e7e;
}

input:checked+label#theme img.moon {
    fill: #fff;
}